doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title hashaby
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header
        h1(data-heading-level='1')
          | Hashaby
        nav.menu
          a.btn-next(href='#.sec-about-heading')
            | ↓
      section.sec-about-heading
        h2(data-heading-level='2')
          | Hashabyとは？
        a.btn-next(href='#.about-description')
          | ↓
        p.about-description
          | Hashabyは
          | URLハッシュ (フラグメント識別子) を
          br
          | もっと便利に変身させるライブラリです。
        a.btn-next(href='#.sec-about')
          | ↓
      section.sec-about-hash
        h2(data-heading-level='2')
          | ハッシュの本来の使われ方
        p
          | URLの“#”以降の文字列をキーに、
          | id属性かname属性に指定された要素にジャンプします。
      section.sec-problem
        h2(data-heading-level='2')
          | 問題点
        p
          | ページ内の好きなところにジャンプできない！
      section.sec-solution
        h2(data-heading-level='2')
          | そこで
        p
          | 魔法のライブラリ“Hashaby”を作りました！
      section.sec-function-page-jump
        h2(data-heading-level='2')
          | 主な機能: ジャンプ機能
        p
          | 3種類の方法でページ内ジャンプができます。
      section-sec-command-find-class
        h2(data-heading-level='2')
          | “.”（ドット）コマンド
        p
          | クラス名を指定してジャンプ
        p
          a(href='#.section2') #.section2
      section.sec-command-query
        h2(data-heading-level='2')
          | “?”（クエスチョン）コマンド 
        p
          | querySelectorでジャンプ
        p
          a(href='#?section') #?section
      section.sec-command-jump
        h2(data-heading-level='2')
          | “=”（イコール）コマンド
        p
          | 式を評価してジャンプ
        p
          a(href="#='.section' + '2'") #='.section' + '2'
      section.sec-calculation
        h2(data-heading-level='2')
          | ん？
        p
          | 今、計算した？
      section.sec-eval-function
        h2(data-heading-level='2')
          | 関数の実行
        p
          | そう、関数も叩けます。
      section.sec-command-exec
        h2(data-heading-level='2')
          | “;”（セミコロン）コマンド
        p
          | 式を実行
        p
          a(href='#;alert(5)') #;alert(5)
      section.sec-command-func
        h2(data-heading-level='2')
          | “+”（プラス）コマンド
        p
          | 設定したオブジェクト内のメソッドを実行
        p
          a(href='#+showMessage') #+showMessage
        p
          a(href='#+showArg(5)') #+showArg(5)
        p
          a(href="#+showArg('hoge')") #+showArg('hoge')
        p
          a(href="#+showArgs(3, 'piyo')") #+showArgs(3, 'piyo')
      section.sec-command-list
        h2(data-heading-level='2')
          | おさらい
        p
          | “.”: クラス名でジャンプ
        p
          | “?”: セレクターでジャンプ
        p
          | “=”: 評価してジャンプ
        p
          | “;”: 式を実行
        p
          | “+”: メソッドを実行
      section.sec-security
        h2(data-heading-level='2')
          | セキュリティー的に大丈夫なの？
        p
          | “;”コマンドと“=”コマンドは設定で許可したドメインでのみ実行可
        p
          | → テストサイトで有効にして本番サーバーでは動かさないようにできる
        p
          | “+”コマンドの引数は文字列と数値のみ
      section.sec-function-appendix
        h2(data-heading-level='2')
          | ついでの機能
        p
          a(href='#+clearHash') #+clearHash
        p
          | どうしても残っちゃう&quot;#&quot;を除去
      section.sec-task
        h2(data-heading-level='2')
          | 問題点
        p
          | そもそもHashabyを入れてるサイトでしか有効にならない！
      section.sec-vision
        h2(data-heading-level='2')
          | 展望
        p
          | Chrome拡張で任意のサイトで実行できるように
      section.sec-conclusion
        h2(data-heading-level='2')
          | 以上
        p
          | ご清聴ありがとうございました。
    script(src='js/lib/hashaby.deco.js')
    script(src='js/main.js')
    script(src='js/index.js')